
body {

background-color: black;
 

}

#skill-list > ul>li{
    color: white;
    font-family: 'Inconsolata', monospace;
 
}

#title {
    font-family: 'Monoton', cursive;
    font-size: 5em;
    color:red;
    text-align: center;
}


@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
.nav {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.nav * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
}
.nav a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
}
.nav a:before,
.nav a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.nav a:before {
  left: 0;
  top: 0;
  border-left: 3px solid #c0392b;
  border-top: 3px solid #c0392b;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.nav a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid #c0392b;
  border-bottom: 3px solid #c0392b;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.nav a:hover,
.nav .current a {
  color: #ffffff;
}
.nav a:hover:before,
.nav .current a:before,
.nav a:hover:after,
.nav .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}



p {
 color: white;
 font-family: 'Inconsolata', monospace;
 

}




#skills {
    width: 38%;
    float:left;
    display:block;
    margin-left: 150px;
    clear:right;
}

#career-history {
    width: 38%;
    float:right;
    margin-right: 55px;
    display: block;
    z-index: 10;
    clear:left;
}


h2, h3 {
    font-family: 'Monoton', cursive;
    color: red;
    
}

article {
    margin-top: 50px;
}

ul #career-tree, ul#career-tree ul {
    list-style-type: none;
    color: white;
 font-family: 'Inconsolata', monospace;
  }
  ∏
  img {
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
}

#desk {
    display: inline;
    float: left;
    width:300px;
    height:100px;
   
}

img {
   width: 600px;
   height:400px;
   margin-top:130px;
   margin-left: 145px;
}

#about-me {
    width: 38%;
    float:right;
    margin-right: 70px;
    display: inline-block;
    z-index: 10;
    clear:left;
}

h4{
    color: white;
    font-family: 'Inconsolata', monospace;
}

.career-tree, li{
    color: white;
    font-family: 'Inconsolata', monospace;ß

}

#results {
    float:left;
}